{$MW_SITE_FQDN}:{$HTTPS_PORT}

reverse_proxy varnish:80

handle_path /opensearch/* {
    basicauth {
        {$OS_USER} {$OS_PASSWORD_HASH}
    }
    reverse_proxy opensearch-dashboards:5601
}

log {
    output file /var/log/caddy/access.log
}